/* Importing Quicksand google font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Importing Raleway google font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

/* shared styles */
.display-flex {
  display: flex;
}

.btn-primary {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 24px 0px;
  background: rgb(17, 17, 17);
  cursor: pointer;
}

.btn-secondary {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 12px;
  background: rgb(254, 163, 1);
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}

#home-color {
  color: rgb(254, 163, 1);
}
#about-color {
  color: rgb(1, 172, 253);
}
#faculties-color {
  color: rgb(5, 212, 223);
}
#admission-color {
  color: rgb(93, 88, 239);
}

.kinder-card {
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.elementary-card {
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.middle-card {
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.kinder-read {
  color: rgb(100, 200, 255);
}
.elementary-read {
  color: rgb(240, 170, 0);
}
.middle-read {
  color: rgb(135, 0, 255);
}

/* navigation bar related styles */
.navbar {
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1160px;
  align-items: center;
}
.logo-item {
  align-items: center;
}
.logo {
  width: 62px;
  height: 62px;
}
.logo-text {
  color: rgb(17, 17, 17);
  font-size: 1.7rem;
  font-weight: 700;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  padding: 30px;
  text-decoration: none;
  color: rgb(254, 163, 1);
  font-size: 1.1rem;
  font-weight: 700;
}

.hamburger {
  visibility: hidden;
}

/* Banner related styles */

.banner {
  justify-content: space-between;
  max-width: 1077px;
  margin: 18px auto;
}

.banner-content {
  max-width: 610px;
  margin: 115px 48px 115px 0px;
}

.banner-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 24px 0px;
}

#empowering {
  color: rgb(254, 163, 1);
}

#towards-vision {
  color: rgb(1, 172, 253);
}

.banner-subtitle {
  color: rgb(17, 17, 17);
  font-size: 1.15rem;
  font-weight: 400;
}

.banner-pic {
  max-width: 435px;
  max-height: 535px;
}
/* Main section styles */
main {
  background-image: url("../assets/bg.png");
}
/* Standard curriculum section */
.curriculum {
  max-width: 1077px;
  margin: 60px auto;
}
.curriculum-title {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.curriculum-cards {
  margin-top: 80px;
  justify-content: space-between;
  gap: 25px;
}
.card {
  max-height: 476.78px;
  padding: 10px;
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 15px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);

  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-title {
  color: rgb(32, 32, 32);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 30px;
  padding: 10px;
}

.card-description {
  color: rgb(128, 128, 128);
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 30px;
  text-align: center;
}

.read {
  max-width: 120px;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 32px;
}

.buttons {
  width: 130px;
  margin: 80px auto;
}
.btn-arrow {
  border-radius: 30px;
  background: rgb(254, 163, 1);
  width: 45px;
  height: 45px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* Classroom related styles */

.our-story {
  background: url(image),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  flex-direction: column;
  justify-content: center;
}
/* .our-story > div {
  margin: 0 auto;
} */
.story-title {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}
.classroom {
  background: rgb(255, 255, 255);
  border-radius: 16px;
}

.classroom-description {
  color: rgb(102, 102, 102);
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(102, 102, 102);
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}
.classroom-image {
  border-radius: 16px 16px 0px 0px;
}

.card-container {
  height: 630.52px;
  width: 1077px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 80px auto;
  gap: 20px;
}

.classroom-title {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  margin: 32px 55px 90px 48px;
  font-weight: 700;
}

.card-container .classroom {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.article-card {
  background: rgb(255, 255, 255);
  border-radius: 16px;
}
.article-card > img {
  border-radius: 16px 16px 0px 0px;
}

.view-button {
  margin: 0 auto;
}

/* footer related styles */
.footer {
  background: rgb(1, 172, 253);
}

/* Making responsive */
/* @media screen and (max-width: 576px) {
  .hamburger {
    visibility: visible;
  }
  .menu,
  .logo-text,
  .btn-secondary {
    display: none;
  }
} */
